{% block contact %}
    <div class="custom-center" style="background: whitesmoke;">
        <table cellpadding="0" cellspacing="0" border="0" style="background: none; border-width: 0;margin: 0; padding: 0;">
            <tr>
                <td valign="top"
                    style="padding: 10px 7px 0 0;border-top: 0; border-bottom: 0; border-left: 0; border-right: solid 3px #A23748;">
                    <img id="preview-image-url"
                         src="{{ SITE_LOGO }}" width="100px">
                </td>
                <td style="padding: 0 0 0 12px;">
                    <table cellpadding="0" cellspacing="0" border="0" style="background: none; border-width: 0;margin: 0; padding: 0;">
                        <tr>
                            <td colspan="2" style="padding-bottom: 5px; color: #A23748; font-size: 18px; font-family: Arial, Helvetica, sans-serif;"> OWNER: - NAME
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="color: #333333; font-size: 16px; font-family: Arial, Helvetica, sans-serif;"><strong>PhoneZilla</strong></td>
                        </tr>
                        <tr>
                            <td width="20" valign="top" style="vertical-align: top; width: 20px; color: #A23748; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                                M:
                            </td>
                            <td style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">1112223334</td>
                        </tr>
                        <tr>
                            <td width="20" valign="top" style="vertical-align: top; width: 20px; color: #A23748; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                                A:
                            </td>
                            <td valign="top" style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">Shop No. 5, R World 21
                            </td>
                        </tr>
                        <tr>
                            <td width="20" valign="top" style="vertical-align: top; width: 20px; color: #A23748; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                                &nbsp;
                            </td>
                            <td valign="top" style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">Sector-21, Gandhinagar-382021
                            </td>
                        </tr>
                        <tr>
                            <td width="20" valign="top" style="vertical-align: top; width: 20px; color: #A23748; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                                W:
                            </td>
                            <td valign="top" style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                                <a href="http://phonezilla.business.site" style=" color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;">phonezilla.business.site</a>
                                &nbsp;&nbsp;<span style="color: #A23748;">E:&nbsp;</span>
                                <a href="mailto:phonezilla@gmail.com" style="color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;">phonezilla@gmail.com</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}