{% extends "rest_framework/base.html" %}
{% load i18n %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='{{ DOMAIN }}'>
        <img src="{{ SITE_LOGO }}" alt="{{ SITE_NAME }}" height="50px" style="margin-top: -15px;">
    </a>
    <a class="navbar-brand" rel="nofollow" href="{% url 'api-root' %}">
        {% trans 'Api-Home' %}
    </a>
    <a class="navbar-brand" rel="nofollow" href="{% url 'home' %}">
        {% trans 'View-site' %}
    </a>
    <a class="navbar-brand" rel="nofollow" href="{% url 'admin:index' %}">
        {% trans 'Admin' %}
    </a>
    <a class="navbar-brand" rel="nofollow" href="{% url 'api-docs:docs-index' %}">
        {% trans 'Interactive API-doc' %}
    </a>
{% endblock %}
